<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class = 'rows'>
        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-sm-3">
              <span class="input-group-text" id="basic-addon1">
                 <%= f.label :email %>
              </span>
            </div>
            <div class='col-sm-12'>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
        </div>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Esperando confirmaci칩n para: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-sm-3">
              <span class="input-group-text" id="basic-addon1">
                  <%= f.label :password, "Password,  (Mantener en blanco si no deseas cambiar password)" %>
              </span>
            </div>
            <div class='col-sm-12'>
              <%= f.password_field :password, autocomplete: "off" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> Caracteres Minimos</em>
              <% end %>

            </div>
          </div>
        </div>

        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-sm-3">
              <span class="input-group-text" id="basic-addon1">
                    <%= f.label :password_confirmation %><br />
              </span>
            </div>
            <div class='col-sm-12'>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </div>
          </div>
        </div>



        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-sm-3">
              <span class="input-group-text" id="basic-addon1">
                    <%= f.label :current_password, "Password Actual (Necesita ingresar tu password para aplicar cualquier cambio)"  %>
              </span>
            </div>
            <div class='col-sm-12'>
              <%= f.password_field :current_password, autocomplete: "off" %>
            </div>
          </div>
        </div>



        <div>
            <div class="input-group mb-3">
              <div class="input-group-prepend col-sm-3">
                <span class="input-group-text" id="basic-addon1">
                      <%= f.label :address %>
                </span>
                <button id="get_location" type="button", class="btn btn-primary">
                    Direccion
                </button>
              </div>
              <div class='col-sm-10'>
                <%= f.text_field :address, id: :address, class: 'form-control'%>
              </div>
          </div>
        </div>








    </div>




  <div class = 'rows'>

   <%
   campos = [:rut, :nombres, :apellidos, :edad,:bio , :avatar ,:correo,:telefoniafija ,:telefoniamovil ,:ultimocurso ,:colegio ,:nombrecontacto1, :fonocontacto1, :nombrecontacto2 , :fonocontacto2 ]
   textos = ['Rut', 'Nombres', 'Apellidos', 'Edad', 'Informaci칩n Personal','Imagen' ,  'Correo Respaldo', 'Telefono Fijo','Telefono Movil', 'Ultimo A침o Cursado', 'Colegio Ultimo a침o Cursado', 'Nombre Contacto', 'Fono Contacto', 'Segundo Contacto', 'Segundo Fono Contacto']
   %>



        <% campos.each_with_index do |campos,ind| %>
        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend col-sm-3">
              <span class="input-group-text" id="basic-addon1">
                  <%= textos[ind] %>
              </span>
            </div>
            <div class='col-sm-12'>

            <% if campos == :bio  %>
              <%= f.text_area :bio, id: :bio_id_new,  size:'12x12'%>
            <% elsif campos == :avatar %>
              <%= f.file_field :avatar, as: :file %>
              <%= image_tag(f.object.avatar.url(:medium)) %>
            <% else %>
              <%= f.text_field campos, id: campos,class:"form-control" %>
            <% end %>
            </div>
          </div>
        </div>
        <% end %>
  </div>


  <div class="actions">
    <%= f.submit "Actualizar",class:'btn btn-primary' %>
  </div>
<% end %>
<br><br>
<div class='rows'>
<%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary text-white' %>
<%= link_to "Back", :back, class:"btn btn-primary text-white"  %>
</div>




<script type="text/javascript">

  $('#get_location').on('click', function() {

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(getAddress);
    } else {
      $('body').append("Geolocation is not supported by this browser.");
    }

  });

function getAddress(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
  $.ajax({
    url: '<%= find_address_students_path %>',
    type: 'post',
    dataType: 'js',
    data: {latitude: latitude, longitude: longitude}
  })
  .done(function(data){
  })
  .always(function(data){

  })
};
</script>
