<%= form_with(model: option, local: true) do |form| %>
  <% if option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% option.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo, id: :option_codigo %>
  </div>

  <div class="field">
    <%= form.label :descripción %>
    <%= form.text_field :descripción, id: :option_descripción %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio, id: :option_precio %>
  </div>

  <div class="field">
    <%= form.label :moneda %>
    <%= form.text_field :moneda, id: :option_moneda %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :cantidad, id: :option_cantidad %>
  </div>

  <div class="field">
    <%= form.label :unidad %>
    <%= form.select(:unit_id, Unit.pluck(:codigo,:id),{},{ id: :option_unit_ida,class:"form-control"})  %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
