<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @option.codigo %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @option.descripción %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @option.precio %>
</p>

<p>
  <strong>Moneda:</strong>
  <%= @option.moneda %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
