<div class='row'>
  <div class="col-sm-10">

      <%= form_with(scope: :test, url:grabar_test_path, local: true) do |f| %>

      <div class="mt-3">

       <div >
         <div class="input-group mb-3">
           <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1">
            Curso
             <i class="fas fa-search"></i>
             </span>
           </div>
           <select name="curso" id="curso" class="form-control" placeholder="Busca un Curso...">
             <% @courses.each do |course| %>
               <option value="<%= course.id %>"> <%= course.nombre %></option>
              <% end %>
           </select>

         </div>
       </div>


       <br>
       <div>
         <div class="input-group mb-3">
           <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1">
            Asignatura
             <i class="fas fa-search"></i>
             </span>
           </div>
             <select name="asignatura" id="asignatura" class="form-control" placeholder="Buscar Asignatura...">
                 <option value="0">Seleccionar</option>
             </select>

         </div>
       </div>
       <br>

       <div>
         <div class="input-group mb-3">
           <div class="input-group-prepend">
             <span class="input-group-text" id="basic-addon1">
               Contenido
               <i class="fas fa-search"></i>
             </span>
           </div>
             <select name="contenido" id="contenido" class="form-control" placeholder="Buscar Contenido...">
                 <option value="0">Seleccionar</option>
             </select>

         </div>
       </div>

        <br>


        <div class="jumbotron mt-0">
          <h1 class="mt-0">Ingreso de Nueva Prueba</h1>
            <p>Si no existe una prueba determinada, favor seleccionar</p>
              <div >
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                   <%= f.label :nombre_Prueba %>
                    </span>
                  </div>
                  <%= f.text_field :nombre, id: :nombre_test,class:"form-control" %>

                </div>
              </div>



            <div class="row m-0">
              <div class="field">
                  <%= f.label :porcentaje_máximo %>
                  <%= f.text_field :puntajemax, id: :puntajemax %>
              </div>
              <div class="field">
                  <%= f.label :porcentaje_aprobación %>
                  <%= f.text_field :puntajeapro, id: :puntajeapro %>
              </div>
            </div>
            <div class="field">
                <%= f.label :comentario %>
                <%= f.text_field :detalle, id: :detalle %>
            </div>
            <div class="field">
                <%= f.label :url_documentación%>
                <%= f.text_field :url_file, id: :url_file %>
            </div>
            <%= f.submit "Ingresar Prueba"%>
    </div>

  <% end %>




<!--

  <%= form_with(scope: :prueba_test, url:grabar_question_path, local: true) do |f| %>

  <div >
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
       Pruebas
        <i class="fas fa-search"></i>
        </span>
      </div>
      <select  id="test" class="form-control" placeholder="Buscar una Prueba...">
        <% @listest.each do |prueba| %>
          <option value="<%= prueba.id %>"> <%= prueba.nombre %></option>
         <% end %>
      </select>
    </div>
  </div>

          <%= f.text_field :test_nombre, id: :test_nombre ,style:"display:none"%>
          <%= f.text_field :test_id, id: :test_id ,style:"display:none"%>


          <div class="field">
            <%= f.label :tipo_Pregunta %>
            <%= f.select :id_tipopregunta, @questiontype.pluck(:tipo,:id) %>
          </div>

          <div class="field">
            <%= f.label :pregunta %>
            <%= f.text_field :encunciado1, id: :enunciado1_test %>
          </div>




            <table  class="table table-striped">
              <tr>
                  <th>Alternativa</th>
                  <th>Opcion(es) Correcta(s)</th>
              </tr>
              <% 5.times do |ind| %>
                <% id_opcion = "opcion#{ind}" %>
                <% id_respuesta = "respuesta#{ind}"  %>
                <tr>
                  <td>
                      <div class="field">
                        <%= f.text_field id_opcion , id: id_opcion %>
                      </div>
                  </td>
                  <td>
                    <div class="field">
                      <%= f.check_box id_respuesta , id: id_respuesta %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
        <%= f.submit "Ingresar Pregunta"%>
      <% end %> -->
      </div>
    </div>
