<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-8 text-center">
    <% @compras.each do |p| %>
    <div class="card  m-2 float-left" >
      <div class="card-body text-center">
        <h5 class="card-title">Codigo PayPal:<%= p.billing.code%></h5>
        <h1 class="card-text text-danger">Monto:<%= p.billing.amount.to_i %></h1>
        <h1 class="card-text text-danger">Moneda<%= p.billing.currency %></h1>

        <div class = 'row'>
            <div class="col-sm-6 text-left">
              Descripción
            </div>
            <div class="col-sm-2">
             Cantidad
            </div>
            <div class="col-sm-2">
              Valor Plan
            </div>
            <div class="col-sm-2">
                Estado
            </div>
        </div>
        <hr>
          <div class = 'row'>
            <% p.details.each do |d| %>
              <div class="col-sm-6 text-left">
                <%= d.plan.descripcion %>
              </div>
              <div class="col-sm-2">
                <%=   d.quantity %>
              </div>
              <div class="col-sm-2">
                  <%= d.price %>
              </div>
              <div class="col-sm-2">
                  <%= d.order.status == 't' ? 'Pagado': 'Pendiente de Pago' %>
              </div>

            <% end %>
          </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
