
<% if !@details.empty? %>
<h1>Su Número de Solicitud de Compra es: <%= @details.take.order_id %> </h1>

<div class="row">
<% @details.each do |p| %>
 <div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <div class="card-body text-center">
      <h5 class="card-title"><%= p.plan.descripcion %></h5>
      <h1 class="card-text text-danger">Cantidad:1</h1>
      <h1 class="card-text text-danger">Precio:$<%= p.price.to_i %></h1>
      <%= link_to "Eliminar",  detail_path(p.id), method: :delete, class:'btn btn-warning' %>
    </div>
  </div>
  </div>
<% end %>
</div>
<br>
<h1>Total Productos:<%= @total %></h1>
<br>
<% end %>
